disable=R,
        C,
        # print-statement,
        # parameter-unpacking,
        # unpacking-in-except,
        # old-raise-syntax,
        # backtick,
        # import-star-module-level,
        # raw-checker-failed,
        # bad-inline-option,
        # locally-disabled,
        # file-ignored,
        # suppressed-message,
        # useless-suppression,
        # deprecated-pragma,
        # use-symbolic-message-instead,
        # apply-builtin,
        # basestring-builtin,
        # buffer-builtin,
        # cmp-builtin,
        # coerce-builtin,
        # execfile-builtin,
        # file-builtin,
        # long-builtin,
        # raw_input-builtin,
        # reduce-builtin,
        # standarderror-builtin,
        # unicode-builtin,
        # xrange-builtin,
        # coerce-method,
        # delslice-method,
        # getslice-method,
        # setslice-method,
        # no-absolute-import,
        # old-division,
        # dict-iter-method,
        # dict-view-method,
        # next-method-called,
        # metaclass-assignment,
        # indexing-exception,
        # raising-string,
        # reload-builtin,
        # oct-method,
        # hex-method,
        # nonzero-method,
        # cmp-method,
        # input-builtin,
        # round-builtin,
        # intern-builtin,
        # unichr-builtin,
        # map-builtin-not-iterating,
        # zip-builtin-not-iterating,
        # range-builtin-not-iterating,
        # filter-builtin-not-iterating,
        # using-cmp-argument,
        # div-method,
        # idiv-method,
        # rdiv-method,
        # exception-message-attribute,
        # invalid-str-codec,
        # sys-max-int,
        # bad-python3-import,
        # deprecated-string-function,
        # deprecated-str-translate-call,
        # deprecated-itertools-function,
        # deprecated-types-field,
        # next-method-defined,
        # dict-items-not-iterating,
        # dict-keys-not-iterating,
        # dict-values-not-iterating,
        # deprecated-operator-function,
        # deprecated-urllib-function,
        # xreadlines-attribute,
        # deprecated-sys-function,
        # exception-escape,
        # comprehension-escape,
        # c-extension-no-member,                  # disabled by MJ, something like I1101(c-extension-no-member)
        logging-fstring-interpolation,          # to use fstrings in log messages
        # protected-access,                       # W0212 - 41 cases on 2024-07-29, access to _functions
        # fixme,                                  # W0511 - 33 cases on 2024-07-20, TODO comments
        # broad-exception-caught,                 # W0718 - 21 cases on 2024-07-29, catching general Exception
        # broad-exception-raised,                 # W0719 - 35 cases on 2024-07-29, Raising too general exception: Exception
        unspecified-encoding                    # W1514 - 5 cases on 2024-07-29, Using open without explicitly specifying an encoding
        # long-suffix,                          # pylint creates warning
        # old-ne-operator,                      # pylint creates warning
        # old-octal-literal,                    # pylint creates warning
        # non-ascii-bytes-literal,              # pylint creates warning
        # eq-without-hash,                      # pylint creates warning